<?xml version="1.0" encoding="UTF-8" ?>
<menu>
    <category name="HARD TECHNO TRACKS 💀">
        <item>
           <a href="https://www.youtube.com/watch?v=negHz9hze6U" ><listing>Ritual Original mix</listing></a>
            <artist>Stephan Crown</artist>
            <label>Space Beat</label>
            <key> D maj </key>
            <date> 21/12/22 </date>
            <price> 1.30 💶 </price>
        </item>
        <item>
           <listing>Take The Memories Away Original Mix</listing>
            <artist>Stephan Crown</artist>
            <label>Space Beat</label>
            <key> Gb min </key>
            <date> 26/12/22 </date>
            <price> 1.30 💶</price>
        </item>
        <item>
           <a href="https://www.youtube.com/watch?v=xM59D3oEkVk"> <listing>Port Mix</listing></a>
            <artist>Krischmann & Klingenberg</artist>
            <label>Technosforza</label>
            <key> Gb min </key>
            <date> 18/12/22 </date>
            <price> 1.30 💶 </price>
        </item>
        <item>
           <a href="https://www.youtube.com/watch?v=ydfNEzw_i_E"><listing>Lisbonne Original Mix</listing></a>
            <artist>Psycho Chok</artist>
            <label>Technosforza</label>
            <key> Gb min </key>
            <date> 17/12/22 </date>
            <price> 1.30 💶 </price>
        </item>
        <item remix="true">
          <a href="https://www.youtube.com/watch?v=WpO_svSE4Yo"><listing>Look Into Your Soul PVR (ARG) Remix</listing></a>
            <artist>Stephan Crown</artist>
            <label>Space Beat</label>
            <key> Gb min </key>
            <date> 07/12/22 </date>
            <price> 1.30 💶 </price>
        </item>
    </category>
    <category name="TECHNO TRACKS ⛓">
        <item>
            <a href="https://www.youtube.com/watch?v=bXvtKCZZmRA"><listing>Frontal Original Mix</listing></a>
            <artist>I A N</artist>
            <label>LANDR, Self-Released</label>
            <key> Bb min </key>
            <date> 22/12/22 </date>
            <price> 1.30 💶 </price>
        </item>
        <item>
           <a href="https://www.youtube.com/watch?v=xdhFSrQ9p4Y"><listing>Indian Synth Original mix</listing></a>
            <artist>J. OSCIUA</artist>
            <label>Space Beat</label>
            <key> G min </key>
            <date> 12/12/22 </date>
            <price> 1.30 💶 </price>
        </item>
        <item>
            <a href="https://www.youtube.com/watch?v=BqPcrviKi5Q"><listing>Rabbit Hole Original Mix</listing></a>
            <artist>HI-LO, Layton Giordani</artist>
            <label>Drumcode</label>
            <key> F maj </key>
            <date> 16/12/22 </date>
            <price> 1.30 💶 </price>
        </item>
        <item>
            <a href="https://www.youtube.com/watch?v=lRyDLDdBa-c"><listing>Heute Nacht Extended Mix</listing></a>
            <artist>Maddix</artist>
            <label>Revealed Recordings</label>
            <key> A min </key>
            <date> 08/12/22 </date>
            <price> 1.30 💶 </price>
        </item>
        <item remix="true">
            <a href="https://www.youtube.com/watch?v=h9_UBz20-f0"><listing>Virus Love Nice Drums Mix</listing></a>
            <artist>Stephan Crown</artist>
            <label>Space Beat</label>
            <key> G min </key>
            <date> 06/12/22 </date>
            <price> 1.30 💶 </price>
        </item>
    </category>
    <category name="MELODIC HOUSE & TECHNO TRACKS ✨">
        <item>
            <a href="https://www.youtube.com/watch?v=nX87bLftysk"><listing>Techmateria Original Mix</listing></a>
            <artist>Frozenkanda</artist>
            <label>Loyalty Survey</label>
            <key> F maj </key>
            <date> 11/12/22 </date>
            <price> 1.30 💶 </price>
        </item>
        <item>
            <a href="https://www.youtube.com/watch?v=Lu2hvmHVoKU"><listing>Came Back To Me Original Mix</listing></a>
            <artist>EZEK</artist>
            <label>Boston Underground</label>
            <key> A min </key>
            <date> 17/12/22 </date>
            <price> 1.30 💶 </price>
        </item>
        <item>
           <a href="https://www.youtube.com/watch?v=GUaltRgMaMA"><listing>Tell Me Why MEDUZA Extended Remix</listing></a>
            <artist>Meduza, Supermode</artist>
            <label>Axtone Records</label>
            <key> F min </key>
            <date> 09/12/22 </date>
            <price> 1.30 💶 </price>
        </item>
        <item>
           <a href="https://www.youtube.com/watch?v=QibIf73uFEw"><listing>Silver Screen Original Mix</listing></a>
            <artist>Space Motion</artist>
            <label>Space Motion Records</label>
            <key> Bb min </key>
            <date> 03/12/22 </date>
            <price> 1.30 💶 </price>
        </item>
        <item remix="true">
            <a href="https://www.youtube.com/watch?v=f_Pu0hV8s3w"><listing>Hi Mars! Glenn Morrison Remix</listing></a>
            <artist>Esphyr </artist>
            <label>Transpecta</label>
            <key> D maj </key>
            <date> 25/12/22 </date>
            <price> 1.30 💶 </price>
        </item>
    </category>
    
    <category name="ELECTRO TRACKS ⚡">
        <item>
             <a href="https://www.youtube.com/watch?v=3VDG2UxIgcs"><listing>Agent Parallaxis Original Mix</listing></a>
            <artist>Idiocrat</artist>
            <label>Diffuse Reality Records</label>
            <key> E min </key>
            <date> 24/12/22 </date>
            <price> 1.30 💶 </price>
        </item>
        <item>
           <a href="https://www.youtube.com/watch?v=wSNB4v-TOzc"> <listing>Titan Robotic Original Mix</listing></a>
            <artist>Gabriel Watereast</artist>
            <label>Deep Earth-records</label>
            <key> Bb maj </key>
            <date> 19/12/22 </date>
            <price> 1.30 💶</price>
        </item>
        <item>
           <a href="https://www.youtube.com/watch?v=nzxAAahof-c"><listing>Beat It Original Mix</listing></a>
            <artist>Jose Jimenez</artist>
            <label>Sobel Nation Records</label>
            <key> D min </key>
            <date> 06/12/22 </date>
            <price> 1.30 💶 </price>
        </item>
        <item>
           <a href="https://www.youtube.com/watch?v=VHiPYwCYS9U"><listing>Revolution Original Version</listing></a>
            <artist>Brandski</artist>
            <label>Fanzine</label>
            <key> G maj </key>
            <date> 05/12/22 </date>
            <price> 1.30 💶 </price>
        </item>
        <item remix="true">
            <a href="https://www.youtube.com/watch?v=mi5PeC1EgeQ"><listing>Virgin Skaki 'lectro Remix.Skaki</listing></a>
            <artist>Tito K</artist>
            <label>Mondonga Records</label>
            <key> D maj </key>
            <date> 22/12/22 </date>
            <price> 1.30 💶 </price>
        </item>
    </category>
    <category name="DJ TOOLS📈">
        <item>
          <a href="https://www.beatport.com/track/ultimate-countdown-3/5123721"><listing>Ultimate Countdown 3 Original Mix</listing></a>
            <artist>Dirty Funker</artist>
            <label>Cubrik</label>
            <key> Bb min </key>
            <date> 22/12/22 </date>
            <price> 1.30 💶 </price>
        </item>
        <item>
            <a href="https://www.beatport.com/track/new-years-eve-ultimate-countdown-2023/17141685"><listing>New Years Eve Ultimate Countdown 2023 Epic DJ Tools - NYE 2023</listing></a>
            <artist>DJ X-Change</artist>
            <label>X-Change Music</label>
            <key> Gb min </key>
            <date> 27/12/22 </date>
            <price> 1.30 💶 </price>
        </item>
        <item>
            <a href="https://www.beatport.com/track/my-house/10685439"><listing>My House Acapella</listing></a>
            <artist>Rhythm Control</artist>
            <label>Get Physical Music</label>
            <key> Fb maj </key>
            <date> 26/12/22 </date>
            <price> 1.30 💶 </price>
        </item>
        <item>
            <a href="https://www.beatport.com/track/what-the-fk/8906129"><listing>What the F**k Acapella</listing></a>
            <artist>Roland Clark</artist>
            <label>Get Physical Music</label>
            <key> A min </key>
            <date> 20/12/22 </date>
            <price> 1.30 💶 </price>
        </item>
        <item>
            <a href="https://www.beatport.com/track/the-vibe/14355990"><listing>The Vibe Acapella Tool</listing></a>
            <artist>Croatia Squad</artist>
            <label>Enormous Tunes</label>
            <key> F min </key>
            <date> 21/12/22 </date>
            <price> 1.30 💶 </price>
        </item>
    </category>
    



</menu>